.container_actions button {
    font-size: 1.5rem;
    border: none;
    background: none;
    margin: 8px 0 8px 16px;
    cursor: pointer;
}

.container_actions button:hover {
    filter: opacity(0.5);
}

.container_actions-animation {
    --fa-animation-duration: 0.5s;
    --fa-animation-iteration-count: 1;
    color: red;
}
