.container_moment {
    width: 425px;
    margin: 0 auto 24px auto;
    background: white;
    border: 1px solid lightgray;
    border-radius: 8px;
    text-align: start;
}

.container_moment a {
    text-decoration: none;
}

.container_moment-img {
    object-fit: cover;
    width: 423px;
    height: 600px;
}

.container_moment-description {
    color: inherit;
    font-size: 0.9rem;
    margin: 8px 16px;
}

.container_moment-description a {
    color: inherit;
}

.container_moment-comments {
    color: gray;
    font-size: 0.9rem;
    margin: 0 16px;
}

.container_moment-date {
    color: gray;
    font-size: 0.7rem;
    margin: 8px 16px;
}

.container_moment-newcmmt {
    margin: 0 16px;
}
