.container_smoment {
    text-align: center;
    padding: 28px 0;
}

.container_smoment a {
    text-decoration: none;
}

.container_smoment-card {
    margin: auto;
    max-width: 920px;
    max-height: 600px;
    display: flex;
    flex-direction: row;
    text-align: left;
    border: 1px lightgray solid;
    background: white;
}

.container_smoment-img {
    object-fit: contain;
    width: 65%;
    border-right: 1px lightgray solid;
    background: black;
}

.container_smoment-spinner {
    color: var(--color-button);
    margin: auto;
}

.cotainer_smoment-right {
    width: 35%;
}

.scale-in-center {
    -webkit-animation: scale-in-center 0.15s
        cubic-bezier(0.25, 0.46, 0.45, 0.94) none;
    animation: scale-in-center 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94) none;
}

@-webkit-keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}
