.container_users-single_usr {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 16px;
}

.container_users-link {
    color: inherit;
    text-decoration: none;
}

.container_users-single_usr img {
    object-fit: cover;
    min-width: 38px;
    width: 38px;
    max-width: 38px;
    min-height: 38px;
    height: 38px;
    max-width: 38px;
    border-radius: 50%;
}

.container_users-single_usr p {
    margin-left: 8px;
    font-size: 0.9rem;
    font-weight: 600;
}
